<div class="container-fluid">
<div class="row">
  <div class="col-xs-7 float-left">
    {{girl.name}}
  </div>
  <div class="col-xs-5 float-right">
    <div class="btn-toolbar">
    <button type="button" *ngIf="girl.type==='blond'" class="btn btn-warning disabled">Repaint to Blond</button>
    <button type="button" class="btn btn-danger">Repaint to Red</button>
    <button type="button" class="btn btn-primary">Repaint to Brunette</button>
    </div>
  </div>
</div>
</div>

<!--<div class="panel panel-default">
  <div class="panel-heading"><span class="float-left">{{girl.name}}</span>
    <div class="btn-toolbar float-right">
      <button
        class="btn btn-primary">Repaint to Blond</button>
      <button
        class="btn btn-primary">Repaint to Red</button>
      <button
        class="btn btn-primary">Repaint to Brunette</button>
    </div>
  </div>
    <div class="panel-body" *ngIf="girl.type==='blond'" style="background-color: grey;">
      <p>
        <strong style="color:yellow">{{girl.bio}}</strong>
      </p>
    </div>
    <div class="panel-body" *ngIf="girl.type==='red'" style="background-color: lightcyan;">
      <p>
        <strong *ngIf="girl.type==='red'" style="color:red">{{girl.bio}}</strong>
      </p>
    </div>
    <div class="panel-body" *ngIf="girl.type==='brun'" style="background-color: lightsalmon;">
      <p>
        <strong *ngIf="girl.type==='brun'" style="color: brown">{{girl.bio}}</strong>
      </p>
    </div>
</div>-->
